@media (max-width: 576px) {
    h2 {
        font-size: 30px;
    }
}

/* ==========Navigation Bar Responsive============= */
@media (max-width: 1200px) {
    .main .container .nav-left ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: var(--mainTextColor);
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }
    .main .container .nav-left ul.active {
        transform: translateX(0%);
    }
    .main .container .nav-left ul li {
        margin-top: 30px;
    }
    .main .container .nav-left ul li a {
        font-size: 20px;
    }
    .main .container .nav-right i {
        display: inline;
        position: relative;
        z-index: 3;
    }
}
@media (max-width: 768px) {
    .main .container .nav-left ul .menu-btn {
        display: inline;
        margin-left: 45px;
        margin-top: 30px;
    }
    .main .container .nav-right .btn-1 {
        display: none;
    }
}
/* ==========Navigation Bar Responsive============= */


/* ==========Hero section Responsive============= */
@media (max-width: 1400px) {
    .hero .container .hero-right .hero_im_1 {
        width: 600px;
    }
    .hero .container .hero-left p {
        margin: 30px 0;
    }
    .hero .container .hero-left p br {
        display: none;
    }
}
@media (max-width: 1200px) {
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .hero .container .hero-right .hero_im_1 {
        width: 500px;
    }
}
@media (max-width: 992px) {
    .hero .container {
        flex-direction: column;
        margin-top: 0;
    }
    .hero .container .hero-right .hero_im_1 {
        margin-top: 40px;
        width: 90%;
    }
}
@media (max-width: 576px) {
    .hero .container .hero-right .hero_im_1 {
        width: 100%;
    }
    h1 {
        font-size: 30px;
        line-height: 30px;
    }
}
/* ==========Hero section Responsive============= */


/* ==========Features Section Responsive============= */
@media (max-width: 1200px) {
    .features .container p br {
        display: none;
    }
}
@media (max-width: 992px) {
    .features .container .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .features .container {
        align-items: flex-start;
    }
    .features .container p {
        text-align: left;
    }
    .features .container .box-container .box p {
        text-align: center;
    }
    .features .container .box-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .features .container {
        margin-top: 20px;
    }
}
/* ==========Features Section Responsive============= */


/* ==========Automated Part Responsive============= */
@media (max-width: 1400px) {
    .automated .container img {
        width: 600px;
    }
}
@media (max-width: 1200px) {
    .automated .container img {
        width: 500px;
    }
    .automated .container .automated-left p br {
        display: none;
    }
}
@media (max-width: 992px) {
    .automated .container {
        flex-direction: column;
    }
    .automated .container img {
        width: 100%;
        margin-top: 40px;
    }
}
/* ==========Automated Part Responsive============= */


/* ==========Plan Section Responsive============= */
@media (max-width: 1200px) {
    .plan .container .plan-box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .plan .container .plan-box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* ==========Plan Section Responsive============= */


/* ==========Footer Section Responsive============= */
@media (max-width: 992px) {
    .footer-container .container .footer ul {
        display: none;
    }
}
/* ==========Footer Section Responsive============= */